<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Calculator</h1>
  <!-- <div>
    <p>{{num1}} {{num2}} = {{calculator(#element.value)}} 
  </div> -->
 <!-- <button #element value="+">Cong</button>
 <button #element value="-">Tru</button> -->
 
   <!-- <!-- {{calculation}} -->
<h3>ket qua {{total}} </h3>
   <span>Enter number 1</span>
  <input type="text" [(ngModel)]="num1">
  <span>Enter number 2</span>
  <input type="text" [(ngModel)]="num2">
  <button value="+"  #cong (click)="calculator(cong.value)" id="cong">+</button>
  <button value="-"  #tru (click)="calculator(tru.value)" id="tru">-</button>
  <button value="x"  #x (click)="calculator(x.value)" id="tru">x</button>
  <button value="/"  #chia (click)="calculator(chia.value)" id="tru">/</button>
</body>
</html>